<!-- Import the component -->
<script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.1.1/model-viewer.min.js"></script>

<!-- Use it like any other HTML element -->
<div class="model-viewer">
<model-viewer 
alt="Neil Armstrong's Spacesuit from the Smithsonian Digitization Programs Office and National Air and Space Museum" 
src="../../../static/cad/portfolio/{{index .Params 0}}.glb" 
poster="../../../static/cad/portfolio/campSun.png" 
shadow-intensity="1" 
camera-controls 
touch-action="pan-y">

<div class="progress-bar hide" slot="progress-bar">
    <div class="update-bar"></div>
</div>

</model-viewer>
</div>


<p>this short code is still running! RAHH</p>
<img src="../../static/images/contact-us-bg.jpg" alt="Bad Path" style="width:500px;height:500px;">


<!-- ../../static/cad/portfolio/campSun.png -->